<br />
<div class="form-group row">
  <!--  <div class="col-sm-6">
        <input type="text" [(ngModel)]="searchValue" class="form-control" id="searchBox">
        <input type="submit" (onClick)="refreshProductListbySearchName()" class="form-control">
    </div>-->
  <button
    (click)="deleteCart(userId)"
    class="mr-l btn btn-light btn-outline-primary"
    type="button"
  >
    Delete All
  </button>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Cart Id</th>
      <th scope="col">Productid</th>
      <th scope="col">Zip Code</th>
      <th scope="col">Quantity</th>
      <th scope="col">Delivery Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of CartList">
      <td scope="col">{{ product.cartId }}</td>
      <td scope="col">{{ product.productId }}</td>
      <td scope="col">{{ product.zipcode }}</td>
      <!-- <td scope="col"><img [src]={{product.image_Name}}></td>-->
      <td scope="col">{{ product.quantity }}</td>
      <td scope="col">{{ product.deliveryDate }}</td>

      <button
        (click)="DeletecartbyId(product.cartId)"
        class="mr-l btn btn-light btn-outline-primary"
        type="button"
      >
        Delete
      </button>
    </tr>
  </tbody>
</table>
